@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply min-w-0;
  }

  /* Hide scrollbar for Webkit browsers (Safari and Chrome) */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-checkbox {
  display: inline-block;
  position: relative;
}

.custom-checkbox input[type='checkbox'] {
  visibility: hidden;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
}

.custom-checkbox input[type='checkbox']:checked + .checkmark {
  background-color: #14b8a6;
  color: black;
  border: 1px solid #14b8a6;
}

.debug {
  @apply outline outline-red-500;
}

.dropzone-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='2' stroke-dasharray='9%2c 14%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
}
